venv/
__pycache__/
.vscode/
bmb_capstone/vol/image_data
bmb_capstone/vol/predictions/*
bmb_capstone/vol/image_loader
bmb_capstone/vol/sample/vsi_data/*
bmb_capstone/vol/models/*/
che_capstone/src/tmp/*
che_capstone/states/*